
google-cloud-bigquery
google-adk
langchain-core
pandas
streamlit
requests
uvicorn
fastapi
pydantic
plotly>=5.0.0
db-dtypes>=1.0.0
google-auth
requests
matplotlib
seaborn
google-cloud-storage
markdown==3.7
xhtml2pdf==0.2.16
    